.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0.2rem 0;
  /* background-color: rgb(39, 39, 39); */
  background-color: var(--bg-color);
  /* box-shadow: 0px 0px 21px hsla(0, 0%, 33%, 0.1); */
  z-index: 9999;
}

.navbar {
  display: flex;
  height: var(--header-height);
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.brand h1 {
  display: inline-flex;
  column-gap: 2px;
  align-items: center;
  justify-content: center;
  font-size: var(--h2-font-size);
}

.pizza {
  color: var(--red-color);
}

.rio {
  color: var(--yellow-color);
}

.nav__right > span {
  display: inline-flex;
  align-items: center;
}

.nav__right i {
  cursor: pointer;
  color: #fff;
}

.nav__right img {
  border-radius: 50%;
  cursor: pointer;
}

.nav__right i:hover {
  color: var(--yellow-color);
}

.nav__list .nav__items {
  display: inline-flex;
  align-items: center;
  column-gap: 0.45rem;
}

.nav__list .nav__items > a {
  color: #fff;
  display: inline-flex;
  align-items: center;
  column-gap: 0.45rem;
}

.nav__list .nav__items > a:hover {
  color: var(--yellow-color);
}

@media only screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    left: 0;
    top: calc(var(--header-height) + 0.4rem);
    padding: 2rem 0 1.8rem 0;
    background-color: rgb(14, 14, 14);
    width: 100%;
    opacity: 1;
    transition: top 0.6s, opacity 0.6s;
    box-shadow: 0 6px 14px 0 hsla(0, 0%, 69%, 0.1);
  }

  .hidden {
    top: -100%;
    opacity: 0;
    transition: top 0.6s, opacity 0.6s;
  }

  .nav__menu .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.7rem;
  }

  .nav__right .mode,
  .cart {
    display: none;
  }
}

.nav__right {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.5rem;
}

#menu,
#close,
#sun,
#moon {
  cursor: pointer;
  transition: 0.2s;
}

.nav__right .cart {
  position: relative;
}

.nav__right .cart > span {
  position: absolute;
  background-color: var(--red-color);
  border-radius: 50%;
  color: var(--bg-color);
  padding: 1.5px 5px;
  top: -5px;
  right: -10px;
  font-size: var(--small-font-size);
  font-weight: 600;
}

.mode {
  border-radius: 50%;
  padding: 0.2rem;
  transition: all 0.4s;
  display: inline-flex;
  align-items: center;
}

#active_link {
  color: var(--yellow-color);
}

.nav__list li:not(:last-child) > a {
  color: #f5f5f5;
  font-size: var(--normal-font-size);
}

.nav__list li:not(:last-child) > a:hover {
  color: var(--yellow-color);
}

@media only screen and (min-width: 1023px) {
  .nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.35rem;
  }

  .nav__list li:last-child {
    display: none;
  }

  .nav__right .menu {
    display: none;
  }

  .nav__list :nth-last-child(2) {
    display: none;
  }
}

.nav__items a > img {
  border-radius: 50%;
}
