:root {
  --header-height: 3.5rem;

  --biggest-font-size: 2.75rem;
  --big-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --bg-color: #070707;
  --red-color: #c53d34;
  --yellow-color: #fcdf2b;
}

@media screen and (min-width: 1023px) {
  :root {
    --biggest-font-size: 4.5rem;
    --big-font-size: 2.5rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.15rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  max-width: 100%;
  font-size: var(--normal-font-size);
  font-weight: 500;
  background-color: var(--bg-color);
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

@media only screen and (max-width: 634px) {
  .container {
    max-width: 1120px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

.main {
  overflow: hidden;
}
