.footer {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #f5f5f5;
  padding: 4.25rem 0;
  padding-bottom: 6.45rem;
}

.brand > span:nth-child(1) {
  color: var(--red-color);
  font-size: var(--h2-font-size);
  font-weight: 700;
}

.brand span:nth-child(2) {
  color: var(--yellow-color);
  font-size: var(--h2-font-size);
  font-weight: 700;
  padding-left: 2px;
}

.brand p {
  margin-top: 0.45rem;
  font-size: var(--normal-font-size);
}

.links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  gap: 1.15rem;
}

.links > :link {
  color: #f5f5f5;
}

.links > :link:hover {
  color: var(--yellow-color);
}

.working_hours {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.66rem;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 0 26px;
}

.working_hours .timing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.working_hours #clock {
  animation: clockRotate 2.4s ease-in-out infinite;
}

@keyframes clockRotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.45rem;
}

.social i {
  font-size: var(--h2-font-size);
  font-weight: 300;
  cursor: pointer;
  transition: transform 0.4s;
}

.social i:nth-child(1) {
  color: #3b5998;
}

.social i:nth-child(2) {
  color: transparent;
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -ms-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -o-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
}

.social > i:nth-child(3) {
  color: #00acee;
}

.social :link > i {
  color: #939393;
}

.social :link:hover {
  transform: translateY(-2px);
  transition: transform 0.4s;
}

.social :link {
  transition: transform 0.4s;
}

.social i:hover {
  transform: translateY(-2px);
  transition: transform 0.4s;
}

@media only screen and (max-width: 1092px) and (min-width: 1024px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: start;
    place-content: center;
    row-gap: 1.25rem;
  }

  .links {
    width: 100%;
    place-items: center;
  }

  .working_hours {
    width: 85%;
    margin: 0 auto;
    align-items: center;
    padding: 0;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 873px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: start;
    row-gap: 2rem;
  }

  .social {
    align-items: center;
    height: 100%;
  }
}

@media only screen and (max-width: 874px) {
  .footer {
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column;
    place-content: center;
    text-align: center;
    gap: 2.4rem 4rem;
  }
}

/* .brand > span,
.brand p {
  animation: ltr 0.8s linear;
}

@keyframes ltr {
  from {
    opacity: 0.5;
    transform: translate(-75px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
} */
