.carousel {
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  padding-top: 8rem;
  overflow: hidden;
}

.carousel__track {
  display: flex;
  width: calc(250px * 10);
  animation: carousel 7s linear infinite;
}

.slide {
  position: relative;
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
}

.carousel__track > .slide > img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

@keyframes carousel {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-250px * 5));
  }
}
