.popular {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.categories {
  margin-top: 3rem;
  width: 100%;
}

.popular img {
  object-fit: contain;
  object-position: center;
}

.popular li {
  background-color: #1e293b;
  width: auto;
  padding: 1.8rem 2.35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-between;
  gap: 1.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.popular li > img {
  scale: 1;
  transition: scale 0.4s;
}

.popular li:hover > img {
  scale: 1.2;
  transition: scale 0.4s;
}

.popular #specials {
  font-size: var(--h2-font-size);
  color: #ffa600;
}

.category {
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  gap: 1.5rem;
  place-content: center;
  margin: 0 auto;
}
